body {
    font-family: monospace, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

button {
    padding: 20px 40px;
    font-size: 20px;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    font-size: 30px;
    color: #0000FF;
}